
/* спрайт с контурами кораблей, маркерами промахов и попаданий, кнопкой запуска игры */
.ship, .icon-field, .btn-play {
	background: url('img/sprite.png') no-repeat;
}

/* игровое поле находится на середине страницы и имеет фон тетрадного листа в клеточку */
.battlefield {
	width: 860px;
	height: 530px;
	position: relative;
	margin: 0 auto;
	background: url('img/grid.png') repeat;
	}

.outer {
	margin-bottom: 21px;
}

/* Фоном данного блока является рамка игрового поля с буквами, обозначающими
строки и цифрами, обозначающими столбцы. Блок позиционирован так, что рамка совпадает
с клетками тетрадного листа. */
.field {
	width: 366px;
	height: 363px;
	position: relative;
	background: url('img/bg_play_field.png') no-repeat;
}

.field-user {
	float: left;
	margin-left: 38px;
}
.field-comp{
	float: right;
	margin-right: 26px;
}

/* в этом блоке с помощью абсолютного позиционирование размещаются корабли эскадры,
координаты их первых палуб будут отсчитываться от его левого верхнего угла
блок позиционирован таким образом, чтобы точно совпадать с клетками фона */
.ships {
	width: 330px;
	height: 330px;
	position: relative;
	left: 29px;
	top: 27px;
}

/* блоки для вывода сообщений */
.text-top {
	height: 66px;
	font-size: 22px;
	line-height: 66px;
	text-align: center;
	margin-bottom: 7px;
}
.text-btm {
	color: #c00;
	text-align: center;
	padding-top: 10px;
}

/* визуальное отображение кораблей на игровом поле */
.ship {
	height: 35px;
	position: absolute;
}
.fourdeck {
	width: 134px; background-position: 0 0; /* синий */
}
.fourdeck.success {
	background-position: 0 -50px; /* зелёный */
}
.fourdeck.unsuccess {
	background-position: 0 -100px; /* красный */
}
.tripledeck {
	width: 101px;
	background-position: -150px 0;
}
.tripledeck.success {
	background-position: -150px -50px;
}
.tripledeck.unsuccess {
	background-position: -150px -100px;
}
.doubledeck {
	width: 68px;
	background-position: -270px 0;
}
.doubledeck.success {
	background-position: -270px -50px;
}
.doubledeck.unsuccess {
	background-position: -270px -100px;
}
.singledeck {
	width: 35px;
	background-position: -360px 0;
}
.singledeck.success {
	background-position: -360px -50px;
}
.singledeck.unsuccess {
	background-position: -360px -100px;
}

/* отображение и позиционирование набора кораблей для самостоятельной расстановки */
.initial-ships li {
	height: 35px;
	position: relative;
	overflow: hidden;
	margin-top: 31px;
}
.initial-ships .ship {
	left: 0;
	top: 0;
	float: left;
	cursor: move;
}
.initial-ships .tripledeck1 {left: 164px;}
.initial-ships .tripledeck2 {left: 297px;}
.initial-ships .doubledeck2 {left: 99px;}
.initial-ships .doubledeck3 {left: 197px;}
.initial-ships .singledeck2 {left: 65px;}
.initial-ships .singledeck3 {left: 131px;}
.initial-ships .singledeck4 {left: 197px;}

/* стиль для вертикального положения корабля */
.vertical {
	transform: rotate(90deg);
	transform-origin: 17.5px 17.5px;
}

/* оформление блока инструкции */
.instruction {
	margin-left: 430px;
	-webkit-user-select: none;
	user-select: none;
}
.type-placement-box {
	line-height: 34px;
	padding-bottom: 18px;
}
	.type-placement-box .link {
		font-size: 20px;
		border-bottom: dashed 2px #4530af;
		cursor: pointer;
	}

/* маркеры */ 
.icon-field {
	width: 33px;
	height: 33px;
	position: absolute;
	z-index: 5;
}
/* маркер промаха */
.dot {
	background-position: -410px 0;
}
/* маркер попадания */
.red-cross {
	background-position: -410px -50px;
}
/* маркер клетки, где корабля быть не может */
.shaded-cell {
	background-position: -410px -100px;
}
/* красный маркер клетки, где корабля быть не может */
.shaded-cell {
	background-position: -410px -140px;
}
